flask==3.0.3
flask-cors==4.0.1
bcrypt==4.1.3
PyJWT==2.8.0
python-dotenv==1.0.1
gunicorn
psycopg2-binary
flask-socketio==5.3.6
# eventlet==0.35.2

# flask==3.0.3
# flask-cors==4.0.1
# PyMySQL==1.1.1
# bcrypt==4.1.3
# PyJWT==2.8.0
# python-dotenv==1.0.1
# gunicorn
# psycopg2-binary

# fastapi==0.103.2
# uvicorn[standard]==0.23.2
# python-multipart==0.0.6
# passlib[bcrypt]==1.7.4
# python-jose[cryptography]==3.3.0
# pydantic==1.10.13
# aiofiles==23.2.1

# fastapi==0.111.0
# uvicorn[standard]==0.29.0
# python-multipart==0.0.9
# passlib[bcrypt]==1.7.4
# python-jose[cryptography]==3.3.0
# pydantic[email]==2.7.1
# aiofiles==23.2.1