<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <connectionStrings>
     <!--<add name="constr" connectionString="Data Source=DESKTOP-KM6RERI;Initial Catalog=healthyuniversedb;Integrated Security=False;User ID=Your database;Connect Timeout=15;Encrypt=False;Packet Size=4096;Password=Your Password;" providerName="System.Data.SqlClient"/>-->
     <add name="constr" connectionString="Data Source=DESKTOP-KM6RERI;Initial Catalog=healthyuniversedb;Integrated Security=true;User ID=Admin;" providerName="System.Data.SqlClient"/>
   <remove name="LocalSqlServer"/>
     <add name="LocalSqlServer" connectionString="Data Source=DESKTOP-KM6RERI;Initial Catalog=healthyuniversedb;Integrated Security=true;User ID=Admin;" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSqlServer" connectionString="Server=DESKTOP-KM6RERI;Database=healthyuniversedb;user=sa;Password=a1;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <trust level="Full"/>
    <pages validateRequest="false"/>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="4.5"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <authorization>
      <allow users="?"/>
      <allow roles="admin"/>
    </authorization>
	 
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <authentication mode="Forms"/>
   <!--<customErrors defaultRedirect="Error.aspx" mode="On"/>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
   <customErrors mode="Off"/>
    <anonymousIdentification enabled="true"/>
    <profile enabled="true">
      <properties>
        <add name="SCart" serializeAs="Binary" type="ShoppingCartExample.Cart" allowAnonymous="true"/>
      </properties>
    </profile>
  </system.web>
  <appSettings>
	  
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="EmailID" value="emailid"/>
    <add key="Host" value="relay-hosting.secureserver.net"/>
    <add key="EnableSsl" value="false"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Port" value="25"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>